body {
    font-family:'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right,#9F6FCC ,#333333);
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

input[type="color"] {
    -webkit-appearance: none;
    border: solid 3px #efefef;
    width: 60px;
    height: 60px;
    transition: all 0.2s;
    padding: 0;
    margin: auto 20px;
    cursor: pointer;
}

#random {
    display: table-cell;
    background: transparent;
    color: rgba(0, 0, 0, .5);
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 3px rgba(0, 0, 0, .5);
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 0.5rem;
    padding: 10px;
    width: 30%;
    transition: all 0.2s;
    margin-top: 25px;
    cursor: pointer;
}

#random:hover {
    border: solid 3px white;
    background: white;
    color: rgba(0, 0, 0, 0.5);

}

#random:focus {
    display: none;
}
